// basic float grid
.row,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  display: block;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  margin-bottom: $column-bottom-margin-mobile;
}
.row {
  @include clearfix;
}

@media only screen and (min-width: 768px) {
  // negative margins cancel out outer column padding so column content
  // lines up with other content on the page.
  .row {
    margin-right: -$column-padding;
    margin-left: -$column-padding;
  }
  // use if you want an edge to edge background color within a column, use .row--no-margin and don't wrap row with container.
  // use .row--no-col-padding to remove column padding (or grid gutters).
  .row.row--no-margin,
  .row.row--no-col-padding {
    margin-right: 0;
    margin-left: 0;
  }
  .col {
    float: left;
    margin-bottom: 0;
    padding: 0 $column-padding;
  }
  // cancels out column padding
  .row.row--no-col-padding .col {
    padding: 0;
  }
  // nested cols
  // this causes problems w/ alignment, revisit later
  /*
  .col .col:first-of-type {
    padding-left: 0;
  }
  .col .col:last-child {
    padding-right: 0;
  }
  */
  // columns
  .col-sm-1 {
    width: (1 / 12) * 100%;
  }
  .col-sm-2 {
    width: (2 / 12) * 100%;
  }
  .col-sm-3 {
    width: (3 / 12) * 100%;
  }
  .col-sm-4 {
    width: (4 / 12) * 100%;
  }
  .col-sm-5 {
    width: (5 / 12) * 100%;
  }
  .col-sm-6 {
    width: (6 / 12) * 100%;
  }
  .col-sm-7 {
    width: (7 / 12) * 100%;
  }
  .col-sm-8 {
    width: (8 / 12) * 100%;
  }
  .col-sm-9 {
    width: (9 / 12) * 100%;
  }
  .col-sm-10 {
    width: (10 / 12) * 100%;
  }
  .col-sm-11 {
    width: (11 / 12) * 100%;
  }
  .col-sm-12 {
    width: 100%;
  }
  // offsets
  .offset-sm-1 {
    margin-left: (1 / 12) * 100%;
  }
  .offset-sm-2 {
    margin-left: (2 / 12) * 100%;
  }
  .offset-sm-3 {
    margin-left: (3 / 12) * 100%;
  }
  .offset-sm-4 {
    margin-left: (4 / 12) * 100%;
  }
  .offset-sm-5 {
    margin-left: (5 / 12) * 100%;
  }
  .offset-sm-6 {
    margin-left: (6 / 12) * 100%;
  }
  .offset-sm-7 {
    margin-left: (7 / 12) * 100%;
  }
  .offset-sm-8 {
    margin-left: (8 / 12) * 100%;
  }
  .offset-sm-9 {
    margin-left: (9 / 12) * 100%;
  }
  .offset-sm-10 {
    margin-left: (10 / 12) * 100%;
  }
  .offset-sm-11 {
    margin-left: (11 / 12) * 100%;
  }
}