body.blog,
body.single-post,
body.archive
{
  .entry-meta,
  .cat-links,
  .comments-link,
  .tags-links,
  .entry-footer {
    font-size: 1.4rem;
    color: $gray-40;
    a {
      text-decoration: none;
      color: $gray-40;
    }
  }
  .cat-links,
  .tags-links {
    a {
      padding: .5em 1em;
      font-size: 1.1rem;
      text-transform: uppercase;
      color: $copy-color;
      background-color: $light-gray-01;
    }
  }
  .entry-footer {
    a {
      font-weight: bold;
    }
  }
  .comments-link,
  .tags-links {
    display: inline-block;
    margin-left: .5em;
  }
}