body.single {

  .entry-header {
    margin-bottom: 1em;
  }
  .entry-title {
    margin: .25em 0;
    // heading text styling
    font-size: 5rem;
    font-weight: 500;
    line-height: 1.4;
  }
  .meta-wrap {
    padding: 0 2em;
  }
  .post-thumbnail {
    display: block;
    margin-bottom: 2em;
  }
  .entry-footer {
    padding-bottom: 2em;
    border-bottom: 1px solid $gray-20;
  }
}
