// flex grid layout, for no sidebar, not used
/*
body.blog,
body.archive {
  background-color: $light-gray-01;

  .site-main {
    display: flex;
    flex-flow: row wrap;

    article {
      display: flex;
      flex: 1 1 (4 / 12) * 100%;
      margin-bottom: 1em;
      padding: 0 1em 1em;
    }
    .navigation,
    .page-header
    {
      flex: 1 1 100%;
      padding: 0 1em;
    }
  }
  .post-wrap {
    background-color: #fff;
  }
  .entry-header {
    padding: 1em 2em 0;
  }
  .entry-title {
    margin: .5em 0;
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1.4;
    //  text-decoration: none;
    //  &:hover,
    //  &:focus {
    //    color: lighten($copy-color, 20%);
    //    border-bottom: 1px solid $gray-20;
    //  }
    //}
  }
  .entry-content {
    padding: 0 2em;
  }
  .entry-footer {
    padding: 0 2em 3em;
  }
}
*/

body.blog,
body.archive,
body.search
{
  .entry-footer {
    margin-bottom: 3em;
  }
}