body.blog,
body.single,
body.archive {
  .navigation {
    @include clearfix;
    margin-top: .5em;
    margin-bottom: 2em;
  }
  .nav-previous {
    display: inline-block;
    float: left;
  }
  .nav-next {
    display: inline-block;
    float: right;
  }
}
body.blog,
body.archive {
  .navigation {
    text-align: center;
  }
  .nav-previous a,
  .nav-next a,
  a.page-numbers
  {
    display: inline-block;
    padding: .6em .9em;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .03em;
    color: $copy-color;
    background-color: $light-gray-02;
    border: solid .2rem $light-gray-02;
    &:hover,
    &:focus {
      text-decoration: none;
      color: #fff;
      background-color: $btn-bg-color;
      border-color: $btn-bg-color;
    }
  }
  .page-numbers.current,
  .page-numbers.dots {
    display: inline-block;
    padding: .6em .9em;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .03em;
    color: $copy-color;
  }
  .page-numbers.current {
    background-color: #fff;
    border: solid .2rem #fff;
  }
  .page-numbers.next::after {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-size: 1.3rem;
    margin-left: .25em;
  }
  .page-numbers.prev::before {
    content: "\f104";
    font-family: "Font Awesome 5 Free";
    font-size: 1.3rem;
    margin-right: .25em;
  }
}
// individual post
body.single {
  .navigation {
    margin-top: 2em;
    margin-bottom: 3em;
  }
  .nav-previous {
    max-width: 50%;
  }
  .nav-next {
    max-width: 50%;
  }
  .nav-previous a,
  .nav-next a {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
    color: $copy-color;
    &:hover,
    &:focus {
      text-decoration: none;
      color: #fff;
      background-color: $btn-bg-color;
      border-color: $btn-bg-color;
    }
  }
  .nav-next a:after {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-size: 1.3rem;
    margin-left: .5em;
  }
  .nav-previous a::before {
    content: "\f104";
    font-family: "Font Awesome 5 Free";
    font-size: 1.3rem;
    margin-right: .5em;
  }
}