body.blog,
body.single,
body.archive
{
  .cat-links,
  .comments-link,
  .tags-links,
  .entry-meta,
  .entry-footer,
  .comment-author,
  .comment-metadata,
  .comment-reply-link {
    font-size: 1.4rem;
    color: $gray-80;
    a {
      text-decoration: none;
      color: $gray-80;
    }
  }
  .cat-links,
  .tags-links {
    display: block;
    margin-top: 1em;
    a {
      padding: .5em 1em;
      font-size: 1.1rem;
      text-transform: uppercase;
      color: $copy-color;
      background-color: $light-gray-01;
    }
  }
  .entry-meta,
  .entry-footer {
    a {
      font-weight: bold;
    }
  }
  .comments-link {
    display: inline-block;
  }
}