body.blog,
body.single-post,
body.archive
{
  .post-wrap {
    background-color: #fff;
  }
  .entry-header {
    padding: 1em 2em 0;
  }
  .entry-title {
    margin: .4em 0 .5em;
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1.4;
    a {
      color: $copy-color;
      text-decoration: none;
    }
  }
  .entry-meta,
  .cat-links,
  .comments-link,
  .tags-links,
  .entry-footer {
    font-size: 1.4rem;
    color: $gray-40;
    a {
      text-decoration: none;
      color: $gray-40;
    }
  }
  .cat-links,
  .tags-links {
    a {
      padding: .5em 1em;
      font-size: 1.1rem;
      text-transform: uppercase;
      color: $copy-color;
      background-color: $light-gray-01;
    }
  }
  .entry-footer {
    a {
      font-weight: bold;
    }
  }
  .comments-link,
  .tags-links {
    display: inline-block;
    margin-left: .5em;
  }
  .entry-content {
    padding: 0 2em;
  }
  .entry-footer {
    padding: 1em 2em 2em;
    border-top: 1px solid $gray-10;
  }
  .comments-area {
    padding: 1em 2em;
    box-shadow: .1rem .1rem 1rem $gray-10;
    background-color: #fff;
  }
  // see _comments file for more comment formatting
}