// general
h2.widget-title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0;
}
#secondary h2.widget-title {
  margin: .7em 0 .7em;
  padding: .4em .6em;
  background-color: $widget-title-bg-color;
  border-left: $widget-title-border;
}
.widget {
  ul {
    @include list-nostyle;
  }
  li,
  p {
    margin-bottom: .7em;
    font-size: 1.4rem;
    line-height: 1.6;
  }
}

/* Make sure select elements fit in widgets. */
select {
  max-width: 100%;
}
#secondary {
  .widget {
    margin-bottom: 2em;
  }
}

// comments, posts
// zero out the bottom margin on the lists
.widget_recent_entries,
.widget_recent_comments {
  ul {
    margin-bottom: 0;
  }
}

// archive widget
.widget_archive {
  select {
    font-size: 1.4rem;
  }
}

// calendar widget
#wp-calendar {
  caption,
  th {
    font-size: 1.4rem;
    font-weight: bold;
  }
  td {
    font-size: 1.4rem;
  }
  tfoot {
    td {
      border: none;
    }
  }
}