// from _s
.screen-reader-text {
  @include sr-only;
}

// responsive images in post content
//.post,
//.page,
//.comment-content {
img {
  @include img-responsive;
}
//}

// post formatting
// for archive pages, make more specific

// vertical format
//.post {
//  margin-top: 4em;
//}

.entry-meta {
  font-size: 1.5rem;
}
.post-thumbnail {
  //margin: 1em 0;
  display: block;
}

// sidebar
#secondary {
  margin-top: 8em;
}
h2.widget-title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0;
}
#secondary h2.widget-title {
  margin: .7em 0 .7em;
  padding: .4em .6em;
  background-color: lighten($light-gray-01, 2%);
  border-left: .2rem solid $main-nav-color;
}
.widget {
  li {
    margin-bottom: .7em;
    font-size: 1.4rem;
    line-height: 1.6;
    a {
      font-weight: 600;
    }
  }
}
body.archive,
body.search
{
  h1.page-title {
    font-size: 1.8rem;
    text-transform: uppercase;
  }
}
.widget ul {
  @include list-nostyle;
}
@media screen and (min-width: 768px) {
  #secondary {
    padding: 0 2em;
  }
}

.edit-link {
  display: block;
  padding: 1em 0;

  // temporary
  display: none;
}

/**

 general alignment classes, things from _s

 */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1em;
}
.aligncenter {
  display: block;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}
