/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# General Structure
  ## Code
  ## Cover
  ## Embeds
  ## Gallery
  ## Group
  ## Image
  ## Latest Posts
  ## List
  ## More
  ## Pullquote
  ## Quote
  ## Separator
  ## Table
  ## Video
# Additional Theme Styles
  ## Color Palette
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Block Styles
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## General Structure
--------------------------------------------------------------*/

.page-template-template-full-width {

  .entry-header > *,
  .entry-content > *:not(.alignfull) {
    margin: 36px auto;
    max-width: $gutenberg-content-width;
    padding-left: $gutenberg-side-margin;
    padding-right: $gutenberg-side-margin;
  }

  .entry-content > .alignwide {
    max-width: $gutenberg-wide-width;
  }

  .entry-content > .alignfull {
    max-width: 100%;
  }

}

@media screen and (min-width: $breakpoint-wp-columns) {
  .page-template-template-full-width {

    .entry-content > *:not(.alignfull) {
      padding-left: 0;
      padding-right: 0;
    }
    .entry-title {
      padding: 0;
    }

  }
}

/*--------------------------------------------------------------
## Code
--------------------------------------------------------------*/

.page-template-template-full-width .wp-block-code {
  padding: 0.8em 1em;
  margin-left: $gutenberg-side-margin;
  margin-right: $gutenberg-side-margin;
}

@media screen and (min-width: $breakpoint-sm) {
  .page-template-template-full-width .wp-block-code {
    margin-left: auto;
    margin-right: auto;
  }
}

/*--------------------------------------------------------------
## Cover
--------------------------------------------------------------*/

.page-template-template-full-width .wp-block-cover-text p {
  padding: 1.5em $gutenberg-side-margin;
}

@media screen and (min-width: $breakpoint-sm) {
  .page-template-template-full-width .wp-block-cover-text p {
    padding: 1.5em 0;
  }
}

/*--------------------------------------------------------------
## Embeds
--------------------------------------------------------------*/

.page-template-template-full-width {

  .wp-block-embed.type-video > .wp-block-embed__wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
  }

  .wp-block-embed.type-video > .wp-block-embed__wrapper > iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/

.page-template-template-full-width .wp-block-gallery:not(.components-placeholder) {
  margin: 1.5em auto;
}

/*--------------------------------------------------------------
## Group
--------------------------------------------------------------*/

.page-template-template-full-width {

  .wp-block-group > .wp-block-group__inner-container > * {
    max-width: $gutenberg-content-width;
    margin-left: auto;
    margin-right: auto;
  }

  .wp-block-group > .wp-block-group__inner-container > .alignwide {
    max-width: $gutenberg-wide-width;
  }

  .wp-block-group > .wp-block-group__inner-container > .alignfull {
    max-width: 100%;
  }

  .wp-block-group.has-background > .wp-block-group__inner-container > :first-child {
    margin-top: 0;
  }

  .wp-block-group.has-background > .wp-block-group__inner-container > .alignfull {
    width: calc(100% + 60px);
    max-width: calc(100% + 60px);
    position: relative;
    left: -30px;
  }

}

/*--------------------------------------------------------------
# Image
--------------------------------------------------------------*/

.page-template-template-full-width {

  .wp-block-image img {
    display: block;
  }

  .wp-block-image.alignleft,
  .wp-block-image.alignright {
    width: 100%
  }

  .wp-block-image.alignfull img {
    width: 100vw;
  }

  .wp-block-image .alignleft img,
  .wp-block-image .alignright img,
  .wp-block-image .alignleft figcaption,
  .wp-block-image .alignright figcaption {
    max-width: 100%;
    width: 100%;
  }

}

/*--------------------------------------------------------------
## Latest Posts
--------------------------------------------------------------*/

.page-template-template-full-width {

  ul.wp-block-latest-posts.alignwide,
  ul.wp-block-latest-posts.alignfull,
  ul.wp-block-latest-posts.is-grid.alignwide,
  ul.wp-block-latest-posts.is-grid.alignwide {
    padding: 0 $gutenberg-side-margin;
  }

}

/*--------------------------------------------------------------
# List
--------------------------------------------------------------*/

.page-template-template-full-width {

  .entry-content ul,
  .entry-content ol {
    margin: 1.5em auto;
    max-width: $gutenberg-content-width;
    list-style-position: outside;
  }

  .entry-content li:not(.blocks-gallery-item) {
    margin-left: 2.5em;
  }

  .entry-content ul ul,
  .entry-content ol ol,
  .entry-content ul ol,
  .entry-content ol ul {
    margin: 0 auto;
  }

  .entry-content ul ul li,
  .entry-content ol ol li,
  .entry-content ul ol li,
  .entry-content ol ul li {
    margin-left: 0;
  }

}

/*--------------------------------------------------------------
## More
--------------------------------------------------------------*/

.page-template-template-full-width .more-link {
  display: block;
}

/*--------------------------------------------------------------
## Pullquote
--------------------------------------------------------------*/

.page-template-template-full-width .wp-block-pullquote>p:first-child {
  margin-top: 0;
}

/*--------------------------------------------------------------
## Quote
--------------------------------------------------------------*/

.page-template-template-full-width {

  .wp-block-quote {
    margin-left: $gutenberg-side-margin;
    margin-right: $gutenberg-side-margin;
    padding: 0;
  }

  .wp-block-quote > * {
    margin-left: 1rem;
  }

  .wp-block-quote.is-large,
  .wp-block-quote.is-style-large {
    margin: 36px auto;
    padding: 0;
  }

  .wp-block-quote.is-large cite,
  .wp-block-quote.is-large footer,
  .wp-block-quote.is-style-large cite,
  .wp-block-quote.is-style-large footer {
    font-size: 13px;
    font-size: 0.8125rem;
  }

}

@media screen and (min-width: 644px) {
  .page-template-template-full-width .wp-block-quote {
    margin: 36px auto;
  }
}

/*--------------------------------------------------------------
## Separator
--------------------------------------------------------------*/

.page-template-template-full-width .wp-block-separator {
  margin: 3em auto;
  padding: 0;
}

/*--------------------------------------------------------------
## Table
--------------------------------------------------------------*/

.page-template-template-full-width {

  .wp-block-table {
    overflow-x: auto;
    margin-left: $gutenberg-side-margin;
    margin-right: $gutenberg-side-margin;
    width: calc(100% - 28px);
  }

  .wp-block-table table {
    border-collapse: collapse;
    width: 100%
  }

  .wp-block-table td, .wp-block-table th {
    padding: .5em;
  }
}

@media screen and (min-width: $breakpoint-sm) {
  .page-template-template-full-width .wp-block-table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

/*--------------------------------------------------------------
## Video
--------------------------------------------------------------*/

.page-template-template-full-width .wp-block-video video {
  max-width: $gutenberg-content-width;
}

/*--------------------------------------------------------------
# Additional Theme Styles
--------------------------------------------------------------*/

