// shades of gray (.gray-10 = 10% gray, etc.)
$gray-10: lighten(black, 90%);
$gray-20: lighten(black, 80%);
$gray-30: lighten(black, 70%);
$gray-40: lighten(black, 60%);
$gray-50: lighten(black, 50%);
$gray-60: lighten(black, 40%);
$gray-70: lighten(black, 30%);
$gray-80: lighten(black, 20%);
$gray-90: lighten(black, 10%);

// various colors
$super-light: rgb(247, 247, 247);
$light-gray-01: #eaeaea;
$light-gray-02: #d3d3d3;
$light-gray-03: #cccccc;
$light-gray-04: #c0c0c0;
$medium-gray-01: #666666;
$medium-gray-02: #333333;
$dark-gray-01: #2e2e2e;
$dark-gray-02: #1e1e1e;
$light-btn-bg: lighten($light-gray-01, 2%);

// Magnetic WP colors
$alabaster: #FFFFFF;
$mint: #75CC6C;
$sea-foam: #2F835F;
$slate: #6E7E93;
$storm: #233550;
$rock: #212833;

$brand: $sea-foam;
$brand-hover: lighten($brand, 10%);
$accent: $mint;
$accent-light: $mint;
$accent-dark: $slate;
$light: $alabaster;
$dark: $rock;

// text
$copy-color: $dark;
$heading-color: $copy-color;
$footer-widgets-txt-color: $light;
$footer-txt-color: $light;
$pre-bg-color: $light-btn-bg;

// page section backgrounds
$page-bg-color: $light;
$header-bg-color: $light;
$footer-widgets-bg-color: $brand;
$footer-bg-color: $dark;
$bg-primary: $light;
$bg-alt: $accent-dark;
$bg-highlight: $accent-light;
$hero-bg: rgba($dark, .5);

// links
$link-color: $brand;
$link-hover: $brand-hover;
$link-visited: $brand;
$skiplink-bg: $light;
// entry title
$entry-title-link: $copy-color;
$entry-title-hover: $brand-hover;
// meta
$meta-link-color: $copy-color;
$meta-link-hover: $brand-hover;
// categories
$cat-link: $light;
$cat-bg: $brand;
$cat-link-hover: $light;
$cat-bg-hover: $brand-hover;
// read more link
$read-more-bg: $super-light;
$read-more-color: $dark;
$read-more-hover: $brand-hover;
// tags
$tag-link: $link-color;
$tag-bg: $light-btn-bg;
$tag-link-hover: $link-hover;
$tag-bg-hover: $light-btn-bg;
// comments, single nav
$comment-meta-link-color: $copy-color;
$single-nav-color: $copy-color;
$single-nav-hover: $brand-hover;
// footer
$footer-widgets-link-color: $light;
$footer-widgets-link-hover: $dark;
$footer-widgets-btn-color: $dark;
$footer-widgets-btn-hover: lighten($dark, 10%);
$footer-link-color: $light;
$footer-link-hover: $link-hover;
// link underline
$text-decoration-global: underline;
//$text-decoration-content: underline;
//$text-decoration-sidebar: none;
$text-decoration-footer-widgets: underline;
$text-decoration-footer: underline;

// pagination links
$pagination-color: $copy-color;
$pagination-hover-color: $light;
$pagination-btn-brdr: solid .2rem $light-btn-bg;
$pagination-bg-color: $light-btn-bg;
$pagination-current-bg-color: #fff;
$pagination-bg-hover-color: $brand;

// main navigation
$main-nav-color: $copy-color;
$main-nav-color--transparent-header: $light;
$main-nav-hover: $brand-hover;
$main-nav-active: $brand-hover;
$sub-menu-color: $light;
$sub-menu-bg-color: $dark;
$sub-menu-brdr: 0;
$sub-menu-brdr-color: lighten($sub-menu-bg-color, 10%);
$brand-txt-color: $copy-color;
$brand-txt-hover: $brand-hover;
$main-nav-btn-hover: $light;
$main-nav-btn-hover-bg: $brand;

// buttons
$btn-txt-color: $light;
$btn-bg-color: $brand;
$btn-bg-color-hover: lighten($btn-bg-color, 5%);
$btn-outline-txt-color: $copy-color;
$btn-outline-border-color: $copy-color;
$btn-outline-color-hover: lighten($btn-outline-border-color, 5%);
$btn-alt-txt-color: $light;
$btn-alt-bg-color: $dark;
$btn-border-width: .2rem;
$btn-border-radius: 0;

// forms, tables, borders
$form-input-color: $copy-color;
$form-input-outline-color: $light-gray-02;
$form-input-outline-hover: darken($form-input-outline-color, 20%);
$form-required-color: red;
$table-head-bg-color: $light;
$table-border-color: $light-gray-01;
$post-bottom-border-color: $light-gray-02;
$widget-title-bg-color: $super-light;
$widget-title-border: .2rem solid $copy-color;

// columns - for custom grid
$column-padding: 1rem;
$column-bottom-margin-mobile: 1.6rem;

// other settings
$header-shadow: false;

// Gutenberg block editor
$gutenberg-side-margin: 2rem;
$gutenberg-content-width: 800px;
$gutenberg-wide-width: 1160px;

// Bootstrap breakpoints, except 2xl+
// xs < 576
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-2xl: 1400px;
$breakpoint-3xl: 1600px;
$breakpoint-4xl: 1800px;

// widths & media queries
$max-container-width: $breakpoint-xl;
$max-container-width-header: $max-container-width;
$nav-breakpoint: $breakpoint-lg;

// type
$sans-default: "Helvetica Neue", Helvetica, Arial, sans-serif;
//$serif-default: Georgia, serif;

$sans-custom: "Roboto";
//$serif-custom: "Droid Serif";

$sans: $sans-custom, $sans-default;
//$serif: $serif-custom, $serif-default;
